body {


  background-color: #ccc;
  background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 25%);
  background-size: 4px 4px;
}
.feather {
  width: 26px;
  height: 26px;
  vertical-align: text-bottom;
}
.btn{
  color: #fff !important;
  background-color: #343a40!important;
  border-radius: 0.6rem;
  border-color: #1d2124 !important;
  display: inline-block;  
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
#inicio{
  background-color: #00658a;
}
#uno,#dos,#tres{
  opacity: 1;
}
#carteles{
  background-color: #fff;
}
#borde{
  border-right: 0 !important;
  border-left:0 !important;
  border-color: #343a40 !important;
}
#lugarGrafico,#lugarTabla{
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2em 2em #888888;
}
#refresh{
  position: fixed;
  z-index: 1;
}
}