
.feather {
  width: 26px;
  height: 26px;
  vertical-align: text-bottom;
}

#inicio{
  background-color: #00658a;
}
#carteles{
  background-color: #fff;
}
#borde{
  border-right: 0 !important;
  border-left:0 !important;
  border-color: #343a40 !important;
}
#refresh{
  position: fixed;
      bottom: 22px;
    right: 0;
  z-index: 1;
}
.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
#pie {
	bottom: 0;
	aling-self:flex-end;
	position: fixed;
}